
<div class="sign_up_page" fxLayout="column" fxLayoutGap="5vh">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 class="mat-title"> Creer un compte </h1>
  </div>
  <div *ngIf="!canRegisterWithFacebook" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%" fxFlex.lt-md="100%">
      <div fxLayout="column">
        <mat-vertical-stepper linear>
          <mat-step [stepControl]="generalInfoForm" label="General Info">
            <form [formGroup]="generalInfoForm">
              <div fxLayout="column" fxLayoutGap="5vh">

                <div fxLayout="column">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Prenom
                    </mat-label>
                    <input matNativeControl formControlName="first_name" required type="text">
                    <mat-error>Quelle est votre nom?</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Post Nom
                    </mat-label>
                    <input matNativeControl formControlName="last_name" required type="text" />
                    <mat-error>Quelle est votre Post nom?</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Nom
                    </mat-label>
                    <input matNativeControl formControlName="nickname" required type="text" />
                    <mat-error>Quelle est votre pre-nom?</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Email
                    </mat-label>
                    <input matNativeControl formControlName="email" required type="email" />
                    <mat-error>Entrez un email valide?</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Nom d'utilisateur </mat-label>
                    <input type="text" required matNativeControl formControlName="username" />
                    <mat-error>Entrez nom valide
                    </mat-error>
                  </mat-form-field>

                </div>

                <div fxLayout="column" fxLayoutAlign="space-between center">
                  <button matStepperNext mat-button color="primary">Suivant</button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="additionalInfoForm">
            <form [formGroup]="additionalInfoForm">
              <div fxLayout="column">
                <mat-form-field appearance="outline">

                  <mat-label>
                    code professionel </mat-label>
                  <input type="text" minLength="5" required matNativeControl formControlName="code" />
                  <mat-error>Entrez un code valide
                  </mat-error>
                </mat-form-field>

                <div>
                  <h1 class="mat-title">Votre role?
                  </h1>
                  <mat-radio-group required formControlName="role">
                    <div class="choices_container" fxLayout="column">
                      <mat-radio-button color="primary" value="medecin">
                        Medecin
                      </mat-radio-button>
                      <mat-radio-button color="primary" value="psycho">
                        Psychologue
                      </mat-radio-button>
                      <mat-radio-button color="primary" value="juriste">
                        Juriste
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
                <mat-form-field fxFlex="50%" appearance="outline">
                  <mat-label>
                    Mot de passe
                  </mat-label>
                  <input type="password" minLength="8" required formControlName="password" matNativeControl />
                  <mat-error>Entrez au moins 8 lettres</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="column">

                <button type="button" (click)="submit()"
                  [disabled]="generalInfoForm.invalid || additionalInfoForm.invalid || loading" mat-raised-button
                  color="primary">
                  Creer mon compte
                </button>
              </div>
            </form>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
  <div *ngIf="canRegisterWithFacebook" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%" fxFlex.lt-md="100%">
      <form [formGroup]="facebookForm">
        <div fxLayout="column">
          <mat-radio-group formControlName="account_type" required>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-between center">
              <mat-radio-button color="primary" value="hirer">
                I want to hire
              </mat-radio-button>
              <mat-radio-button color="primary" value="freelancer">
                I want to work
              </mat-radio-button>
            </div>
          </mat-radio-group>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required matNativeControl>
              <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button [disabled]="facebookForm.invalid || loading" color="primary" type="button"
              (click)="registerWithFB()"> Create account</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div>Vous avez deja un compte? <a mat-button color="primary" [routerLink]="['/comptes/se-connecter']">Se connecter
    </a></div>
</div>




