.div1 {
  width: 50%;
  margin-right:0px;
  float:left;
  padding:50px 0px;
 }
 .div2 {
  width: 50%;
  margin-right:0px;
  float:left;
  padding:50px 0px;
 }
.cont{
   padding:20px !important;
 }
.linehaut{
   border-left: 1px solid black;
 }
 .bold-mini{
  font-size: 15px;
  font-weight: bold;
}
.line{
  width: 98%;
  height: 0;
  border:1px solid rgb(65, 64, 64);

}
.padding-all{
  padding: 30px;
}



