<div class="cont" id="print-section">
  <div class="padding-all">
    <h6 class="text-center">REPUBLIQUE DEMOCRATIQUE DU CONGO</h6>
    <h6 class="text-center bold-mini">BILLET DE REFERENCE ET CONTRE REFERENCE</h6>
  <!---PHOTOS-->
<img src="../../assets/img/rdc.png" width="90" height="60">
<img src="../../assets/img/un.png" width="90" height="60" style="float:right">
  <h6 class="text-center">COMPOSANTE DATA&MAPPING</h6>
  <div class="div1">
  <span class="text-uppercase">Billet de reference et contre reference</span><br>
  <span>N°|__|__|__||__|__|__||__|__|__||__|__|__||__|__|__|</span>
  <div>
    <span>Reference</span>
    code structure ayant référé:.......................<br>
    Désignation de la structure de référence:.......................<br>
    Date:....................,Heure:....................
  </div>
  <div class="line"></div>
  <div>
    Motif de la référence:...................<br>
    prise en charge:...........................<br>
    Evolution(aggravation,statu quo ,amélioration ):
    <br>....................................
    cachet  nom et signature du responsable où de son délégué<br>
    Adresse:....................Tel:....................................
  </div>
  <div class="line"></div>
  <div>
    <h6>contre référence</h6>
    Date:...................
    code Strucutre ayant contre référé:<br>
    Strucutre de contre référé:<br>
    problème identifiés:<br>
    prise en charge complementaire:...................<br>
    Recommandations:..........................<br>
    Evaluation(aggravation,statu quo,amélioration):...........................<br>
    cachet:  nom et signature du responsable ou de son délégué<br>
    Point d' entrée<br>
    Noms:..................<br>
    Adress:................<br>
    Tel:......................
  </div>
</div>

<div class="div2">
  <h6 class="text-uppercase">Billet de reference et contre reference</h6>
  <span>N°|__|__|__||__|__|__||__|__|__||__|__|__||__|__|__|</span>
  <div>
    <span>Reference</span>
    code structure ayant référé:.......................<br>
    Désignation de la structure de référence:.......................<br>
    Date:....................,Heure:....................
  </div>
  <div class="line"></div>
  <div>
    Motif de la référence:...................<br>
    prise en charge:...........................<br>
    Evolution(aggravation,statu quo ,amélioration ):
    <br>....................................
    cachet  nom et signature du responsable où de son délégué<br>
    Adresse:....................Tel:....................................
  </div>
  <div class="line"></div>
  <div>
    <span>contre référence</span><br>
    Date:...................
    code Strucutre ayant contre référé:<br>
    Strucutre de contre référé:<br>
    problème identifiés:<br>
    prise en charge complementaire:...................<br>
    Recommandations:..........................<br>
    Evaluation(aggravation,statu quo,amélioration):...........................<br>
    cachet:  nom et signature du responsable ou de son délégué<br>
    Point d' entrée<br>
    Noms:..................<br>
    Adress:................<br>
    Tel:......................
  </div>
</div>
</div>
</div>
<button [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button>



