<p>certificat works!</p>
<div class="con">
<h6>République démocratiaque du congo</h6>
<h6>CERTIFICAT MEDICO-LEGAL D' AGRESSION</h6>

<h6>Document Confidentiel</h6>
<div>
  <table>
    <tr>
      <td>Date d' examen / / à......heure</td>
      <td>Lieu de l' examen:</td>
    </tr>
  </table>
  <div>
  <h6>A.INFORMATION SUR LE/LA PATIENTE</h6>
  <table>
    <tr>
      <td>1.Nom</td>
      <td>2.Post-nom</td>
      <td>3.Prénom(s)</td>
    </tr>
    <tr>
      <td colspan="2">4.Adresse</td>
      <td>5.Sexe <mat-checkbox>Masculin</mat-checkbox><mat-checkbox>Feminin</mat-checkbox></td>
    </tr>
    <tr>
      <td>6.Date de naissance /   /   </td>
       <td>Age(declaré par le/la patient(e)</td>
       <td>Lieu de naissance</td>
    </tr>
    <tr>
      <td colspan="3">9.Etat civil : Celibataire</td>
    </tr>
    <tr>
      <td colspan="3">Noter: si le patient est de sexe Masculin ,sauter jusqu 'à la question numéro 14</td>
    </tr>
    <tr>
      <td colspan="3">10.Dates des dernierères règles /  / </td>
    </tr>
    <tr>
      <td>11.Nombre de grossesses</td>
      <td colspan="2">12.Nombre de naissances vivantes</td>

    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td></td>
      <td>Oui</td>
      <td>Non</td>
    </tr>
    <tr>
       <td>13.Actuellement enceinte reponse oui</td>
    </tr>
  </table>
</div>
</div>
</div>
